@import "../../style/reset.scss";

body {
  background-color: #242424;
}

main {
  font-family: Poppins;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;

  .ph_regular {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: #cbcbcb;
  }

  .container {
    padding: 5%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    h1 {
      color: #cbcbcb;
    }

    .line {
      background-color: #cbcbcb;
      height: 2px;
      width: 50px;
      border-radius: 1px;
    }
  }

  .even_center_container {
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
    left: 50%;
  }

  .center_container {
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
    left: 50%;

    .big_text {
      writing-mode: vertical-rl;
      color: #3a3a3a;
      font-weight: bold;
      font-size: 180px;
    }

    .small_text {
      color: #cbcbcb;
      font-weight: bold;
      font-size: 64px;
    }
  }
}
