@import "../../style/variables.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5vw;
}

.header_right {
  display: flex;
  align-items: center;
  div {
    text-align: right;
    margin-right: 20px;
    h2 {
      margin-bottom: 5px;
    }
  }
}

.lyrics {
  padding: 35px;
  .current_lyric {
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 35px;
    line-height: 45px;
  }

  .next_lyric {
    font-weight: bold;
    font-size: 45px;
    color: $secondary;
    line-height: 45px;
  }
}
.cover {
  min-width: 50px;
  min-height: 50px;
  width: 15vw;
  height: 15vw;
  max-width: 150px;
  max-height: 150px;
}

.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  background-color: #242424;
}

.play_button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3a3a3a;
  border: none;
  padding: 0;
  min-height: 60px;
  min-width: 60px;
  max-width: 100px;
  max-height: 100px;
  height: 10vw;
  width: 10vw;
  border-radius: 50%;
  svg {
    width: 40%;
    height: 40%;
  }
}

progress[value] {
  margin-bottom: 10px;
  -webkit-appearance: none;
  appearance: none;
  height: 5px;
  width: 90%;
}

progress[value]::-webkit-progress-bar {
  background-color: #3a3a3a;
  border-radius: 5px;
}

progress[value]::-webkit-progress-value {
  background-color: #cbcbcb;
  border-radius: 5px;
}
